@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}

.contain {
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    border: 1px solid #000;

}

.col {
    text-align: center;
    transition:all 1s ease-in-out;
    
    flex:1;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* overflow: hidden; */
}

.col>* {
    flex:1 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all .5s ease-in;
}

.col>*:first-child{
    transform: translateY(-200%);
}
.col>*:last-child{
    transform: translateY(200%);
}

.panel1 {

    background-image: url('https://images.unsplash.com/photo-1568495824441-a2052db83f64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=957&q=80');
    background-repeat: no-repeat;
    /* height:100%; */

    background-size: cover;
    background-position: center;
}

.panel2 {

    background-image: url('https://images.unsplash.com/photo-1568322714397-333fc0b6f229?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80');
    background-repeat: no-repeat;
    /* height:100%; */
    background-position: center;
    background-size: cover;
}
.panel3 {

    background-image: url('https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
    background-repeat: no-repeat;
    /* height:100%; */
    background-position: center;
    background-size: cover;
}
.panel4 {

    background-image: url('https://images.unsplash.com/photo-1569365788898-f96aa58c27eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80');
    background-repeat: no-repeat;
    /* height:100%; */
    background-position: center;
    background-size: cover;
}

h2 {
    position: relative;
    /* top:25%; */
}

.selected {
flex:6;
/* background-attachment:scroll; */
    
}

.col.selected>*:first-child{
    transform: translateY(0)
}
.col.selected>*:last-child{
    transform: translateY(0)
}